#registra-accedi-container {
    padding: 30px 18px 80px 18px;
    position: relative;
    overflow: hidden;
    height: calc( 100vh - 110px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#registra-accedi-video {
    z-index: -1;
    position: absolute;
    min-width: 100vw;
    min-height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    transform: translateX(-50%);
    overflow: hidden;
    opacity: .8;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-content div {
    display: flex;
    justify-items: center;
    padding: 20px 0 0 0;
}

.login-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.login-container div{
    display: flex;
    justify-content: center;
}

.registra-accedi-button {
    width: 70%;
    height: 40px;
}

@media only screen and (min-width: 768px) {
    .login-container{
        width: 60%;
    }

    #registra-accedi-video{
        transform: translateX(0);
    }
}

@media only screen and (min-width: 1200px) {
    .login-container{
        width: 40%;
    }

    #registra-accedi-video{
        transform: translateX(0);
    }
}