<div class="container" id="container-dashboard">
    <fa-icon class="icon" [icon]="faCog" (click)="configCardClick()"></fa-icon>
    <div class="container-card">
        <div class="card">
            <p>ULTIMO RILEVAMENTO PM10</p>
            <div class="recordValue"><p>{{lastPm10}}</p></div>
            <div class="recordTime"><p>{{time}}</p></div>
        </div>
        <div class="card">
            <p>ULTIMO RILEVAMENTO PM2.5</p>
            <div class="recordValue"><p>{{lastPm25}}</p></div>
            <div class="recordTime"><p>{{time}}</p></div>
        </div>
        <div class="card">
            <p>MEDIA PM2.5 24H</p>
            <div class="recordValue"><p>{{avgPm25}}</p></div>
        </div>
        <div class="card">
            <p>MEDIA PM10 24H</p>
            <div class="recordValue"><p>{{avgPm10}}</p></div>
        </div>
    </div>
    <div id="config-card" *ngIf="configCard">
        <fa-icon class="icon" [icon]="faTimesCircle" (click)="configCardClick()"></fa-icon>

        <h2>SECRET KEY</h2>
        
        <div class="container-config" *ngIf="!secretKeyEdit">
            <p>{{secretKey}}</p><fa-icon id="modify-icon" [icon]="faEdit" (click)="secretKeyEditClick()"></fa-icon>
        </div>

        <form class="container-config" action="" method="post" *ngIf="secretKeyEdit">
            <input id="input" type="text" name="secretKey" [(ngModel)]="secretKey">
            <input type="submit" value="modifica" id="submit" (click)="secretKeyEditClick(); newSecretKeyClick()"> 
        </form>
        
        <div class="divider"></div>

        <h2>UTENTE</h2>

        <div class="container-config" *ngIf="!userEdit">
            <p>{{nome}}</p><p>{{cognome}}</p><fa-icon id="modify-icon" [icon]="faEdit" (click)="userEditClick()"></fa-icon>
        </div>

        <form class="container-config" action="" method="post" *ngIf="userEdit" id="config-user">
            <input id="input" type="text" name="nome" [(ngModel)]="nome">
            <input id="input" type="text" name="cognome" [(ngModel)]="cognome">
            <input type="submit" value="modifica" id="submit" (click)="userEditClick(); newUserClick()"> 
        </form>

    </div>
</div>
