#container-dashboard{
    width: calc(100% - 36px);
    display: flex;
    flex-direction: column;
}

.icon{
    font-size: 20px;
    margin-left: auto;
    margin-top: 1rem;
    margin-right: 1rem;

}

.container-card{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.card{
    width: 80%;
    margin: 1rem;
    padding: 11px 18px;
    position: relative;
    box-shadow: 2px 4px 5px 0px #0d0d0db8;
}

.card p{
    font-size: 13px;
    margin-bottom: 5px;
    word-spacing: 5px;
    text-align: center;
}

.recordValue p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin: 15px;
}

#config-card{
    background-color: var(--primary-white);
    position: absolute;
    width: calc(100% - 36px);
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 5px 0px #0d0d0db8;
}

input{
    height: 35px;
}

.container-config{
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

.container-config p{
    font-size: 20px;
}

#config-user{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

#modify-icon{
    font-size: 20px;
    margin-left: 8px;
}

#input{
    border: none;
    box-shadow: 1px 2px 4px 0px #0d0d0d57;
}

#submit{
    border: none;
    color: white;
    box-shadow: 1px 2px 4px 0px #0d0d0d57;
    background-color: var( --primary-black);
}

.divider{
    width: 80%;
    height: 1px;
    background-color: var(--primary-black);
    margin: 2rem auto 2rem auto;
}