.dea-logo {
    font-size: 21px;
    letter-spacing: 4px;
}

.navbar {
    background-color: var(--primary-white);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 11px 18px;
    height: 53px;
}

.navbar-nav {
    display: none;
    flex-direction: column;
}

.navbar fa-icon {
    font-size: 16px;
}

.appear-left {
    transform: translateX(0) !important;
}

.animated-left {
    opacity: 1 !important;
    transform: translateX(0) !important;
}

.sidebar {
    position: absolute;
    width: calc(100vw - 150px);
    top: 75px;
    height: calc(100vh - 97px);
    padding: 11px 18px;
    transform: translateX(calc(-100vw));
    transition: ease 0.4s;
    z-index: 1;
    background-color: var(--primary-white);
}

.sidebarMenu {
    opacity: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transform: translateX(-20px);
    transition: ease 0.4s;
    transition-delay: 0.5s;
}

.sidebar-item {
    color: var(--primary-black);
    opacity: .8;
    letter-spacing: 4px;
    word-spacing: 2px;
    padding: 10px;
}

.sidebar-item:nth-child(4) {
    margin-top: 30px;
    border-top: 1px solid var(--primary-black);
    padding-top: 30px;
}

.bar {
    width: 20px;
    height: 1.5px;
    background-color: var(--primary-black);
    margin: 4px 0;
    transition: 0.4s;
}

.hamburger:hover {
    opacity: .7;
}

.hamburger:focus {
    outline: none;
}

.is-active .bar:first-child {
    -webkit-transform: translateY(5.5px);
    transform: translateY(5.5px)
}

.is-active .bar:nth-child(2) {
    opacity: 0;
}

.is-active .bar:last-child {
    -webkit-transform: translateY(-5.5px);
    transform: translateY(-5.5px)
}

.overlay {
    z-index: 1;
    position: absolute;
    top: 75px;
    left: 0;
    height: calc(100vh - 75px);
    width: 100%;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    background-color: var(--primary-black);
    transition: ease 0.3s;
}

.open-overlay {
    opacity: .3;
    visibility: visible;
}