<footer>
    <div class="footer-logo" routerLink="Home">DEA</div>

    <div class="footer-content">
        <div class="footer-menu">
            <a class="footer-item" routerLink="Chi-Siamo">
                <p>CHI SIAMO</p>
            </a>

            <a class="footer-item" routerLink="Chi-Siamo">
                <p>OBBIETTIVI</p>
            </a>
            <a class="footer-item" routerLink="Contatti">
                <p>CONTATTACI</p>
            </a>
            <a class="footer-item" routerLink="Registrazione">
                <p>ACCEDI AL DISPOSITIVO</p>
            </a>
        </div>

        <div class="line"></div>

        <div class="footer-social">
            <a class="footer-item" href="">
                <p>INSTAGRAM</p>
            </a>
            <a class="footer-item" href="">
                <p>FACEBOOK</p>
            </a>
            <a class="footer-item" href="">
                <p>LINKEDLIN</p>
            </a>
        </div>

    </div>

    <div class="footer-contact">
        <button class="footer-button">
            EMAIL
        </button>

        <button class="footer-button">
            PHONE
        </button>

    </div>

</footer>